* {
  margin: 0;
  padding: 0;
  outline: 0;
  scroll-behavior: smooth;
  transition: 0.5s ease-in;
}

@import url(https://fonts.googleapis.com/css?family=Crimson+Text:400,700,900,400italic,700italic,900italic|Playfair+Display:400,700,900,400italic,700italic,900italic|Rock+Salt:400);

*,
:before,
:after {
  box-sizing: border-box;
}

body {
  background-color: #1d1f20;
  color: #e5e5e5;
  font: 18px/1.25 'Crimson Text', sans-serif;
  margin: 0;
  /* overflow: hidden; */
}

@keyframes grow {
  from {
    box-shadow: 0px 0px 1em #282c34;
  }
  to {
    box-shadow: 0px 0px 3em #282c34;
  }
}
#wrapper {
  margin-top: -5rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 80em;
  padding: 4em;
  justify-content: center;
  align-items: center;
}

#container {
  float: left;
  width: 100%;
}

.page {
  width: 50vw;
  height: 60vh;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.article {
  flex-direction: row;
  /* height: 50vh; */
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/*** OPEN BOOK ***/
.open-book {
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.5) 0 1em 3em;
  color: #000;
  padding: 2em;
  max-height: max-content;
}

.open-book * {
  position: relative;
}

/* Highlight */
.open-book *::-moz-selection {
  background: rgba(222, 255, 0, 0.75);
}

.open-book *::selection {
  background: rgba(222, 255, 0, 0.75);
}

/* Header/Footer */
.open-book header {
  padding-bottom: 1em;
}

.open-book header *,
.open-book footer * {
  font: 700 1em/1.25 'Playfair Display', sans-serif;
  letter-spacing: 0.125em;
  margin: 0;
}

.open-book header * {
  font-size: 0.75em;
  text-transform: uppercase;
}

.open-book footer {
  padding-top: 1em;
}

.open-book footer #page-numbers {
  display: none;
  list-style: none;
  padding: 0;
  text-align: left;
}

.open-book footer #page-numbers > li:last-child {
  text-align: right;
}

.open-book .chapter-title:before,
.open-book .chapter-title:after {
  border: solid 0 #000;
  border-width: 0.05em 0;
  bottom: calc((0.125em / 2) * 3);
  content: '';
  height: 0.15em;
  position: absolute;
  width: calc(50% - (1em / 2));
}

.open-book .chapter-title:before {
  left: 0;
}

.open-book .chapter-title:after {
  right: 0;
}

/* Body Copy */
.open-book article {
  line-height: 1.5;
}

.open-book article *:not(.chapter-title):not(hr):not(dl) {
  margin: 0 auto;
  max-width: 28.125em;
}

.open-book article p {
  text-indent: 2em;
}

.open-book .chapter-title + p:first-of-type {
  text-indent: 0;
}

.open-book .chapter-title + p:first-of-type:first-letter {
  float: left;
  font: 700 3em/0.65 'Playfair Display', sans-serif;
  padding: 0.15em 0.05em 0 0;
  text-transform: uppercase;
}

.open-book article > ul,
.open-book article > ol {
  padding-left: 3em;
}

.open-book article > ul ul {
  padding-left: 1em;
}

.open-book sup {
  color: #cc0000;
  font-family: 'Rock Salt', cursive;
  left: 0;
  margin-top: -1em !important;
  max-width: 100% !important;
  position: absolute;
  text-align: center;
  width: 100%;
}

.open-book mark {
  background: linear-gradient(
    to bottom,
    rgba(222, 255, 0, 1) 0%,
    rgba(222, 255, 0, 0.5) 60%,
    rgba(222, 255, 0, 1) 100%
  );
}

.open-book mark.pink {
  background: linear-gradient(
    to bottom,
    rgba(255, 69, 190, 1) 0%,
    rgba(255, 107, 203, 0.5) 60%,
    rgba(255, 107, 203, 1) 100%
  );
}

.open-book mark.blue {
  background: linear-gradient(
    to bottom,
    rgba(73, 179, 255, 1) 0%,
    rgba(107, 193, 255, 0.5) 60%,
    rgba(107, 193, 255, 1) 100%
  );
}

.open-book mark.green {
  background: linear-gradient(
    to bottom,
    rgba(67, 226, 15, 1) 0%,
    rgba(39, 229, 54, 0.5) 60%,
    rgba(39, 229, 54, 1) 100%
  );
}

.open-book mark.orange {
  background: linear-gradient(
    to bottom,
    rgba(255, 134, 9, 1) 0%,
    rgba(255, 177, 34, 0.5) 60%,
    rgba(255, 177, 34, 1) 100%
  );
}

.open-book hr {
  background-color: #000;
  border: 0;
  height: 2px;
  margin: 1em 0;
}

.open-book dl {
  border: solid 0 #ccc;
  border-width: 0.0625em 0;
  break-inside: avoid-column;
  margin: 1em auto;
  padding: 1em 0;
}

/*** MEDIA QUERIES ***/
@media only screen and (min-width: 50em) {
  .open-book {
    margin: 3em;
    position: relative;
  }

  .open-book:before {
    background-color: #8b4513;
    border-radius: 0.25em;
    bottom: -1em;
    content: '';
    left: -1em;
    position: absolute;
    right: -1em;
    top: -1em;
    z-index: -1;
  }

  .open-book:after {
    background: linear-gradient(
      to right,
      transparent 0%,
      rgba(0, 0, 0, 0.2) 46%,
      rgba(0, 0, 0, 0.5) 49%,
      rgba(0, 0, 0, 0.6) 50%,
      rgba(0, 0, 0, 0.5) 51%,
      rgba(0, 0, 0, 0.2) 52%,
      transparent 100%
    );
    bottom: -1em;
    content: '';
    left: 50%;
    position: absolute;
    top: -1em;
    transform: translate(-50%, 0);
    width: 4em;
    z-index: 1;
  }

  .open-book > * {
    column-count: 2;
    column-gap: 6em;
    position: relative;
    z-index: 1;
  }

  /* Header/Footer */
  .open-book header:before,
  .open-book header:after,
  .open-book footer:before,
  .open-book footer:after {
    background: #fff;
    border-radius: 25%;
    content: '';
    height: 2em;
    position: absolute;
    z-index: -1;
    width: calc(50% + 2em);
  }

  .open-book header:before,
  .open-book footer:before,
  .open-book footer:after {
    border-top-left-radius: 0;
  }

  .open-book header:after,
  .open-book footer:before,
  .open-book footer:after {
    border-top-right-radius: 0;
  }

  .open-book header:before,
  .open-book header:after,
  .open-book footer:after {
    border-bottom-right-radius: 0;
  }

  .open-book header:before,
  .open-book header:after,
  .open-book footer:before {
    border-bottom-left-radius: 0;
  }

  .open-book header:before,
  .open-book header:after {
    top: -2.65em;
  }

  .open-book header:before,
  .open-book footer:before {
    right: 50%;
  }

  .open-book header:before {
    transform: rotate(-2deg);
  }

  .open-book header:after,
  .open-book footer:after {
    left: 50%;
  }

  .open-book header:after {
    transform: rotate(2deg);
  }

  .open-book footer:before,
  .open-book footer:after {
    bottom: -2.65em;
  }

  .open-book footer:before {
    transform: rotate(2deg);
  }

  .open-book footer:after {
    transform: rotate(-2deg);
  }

  .open-book header > *:last-child,
  .open-book footer > *:last-child {
    text-align: right;
  }

  .open-book footer #page-numbers {
    display: block;
    /* color: #ccc; */
  }

  /* Chapter Title */
  .open-book .chapter-title {
    font-size: 3em;
  }

  .open-book .chapter-title:before,
  .open-book .chapter-title:after {
    height: 0.125em;
  }

  /* Body Copy */
  .open-book article p {
    text-indent: 3em;
    padding: 20px;
  }

  .open-book article > ul,
  .open-book article > ol {
    padding-left: 4em;
  }
}

.nav_buttons {
  /* width: 80vw; */
  /* padding: 30px; */
  /* font-size: 150px; */
  /* font-weight: 900; */
  justify-content: center;
  align-items: center;
}

.ps_prev,
.ps_next,
.page_number {
  cursor: pointer;
}

.ps_prev {
  float: left;
  left: 0;
}

.ps_next {
  float: right;
  right: 0;
}

.footer {
  position: fixed;
  bottom: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.5em;
}
.content {
  margin-top: 6rem;
  align-items: center;
  justify-content: center;
  bottom: 0;
  cursor: pointer;
}
.selected {
  font-size: 300px;
}

.button-18 {
  align-items: center;
  background-color: #192632;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, 'Segoe UI', Roboto,
    'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell,
    'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Lucida Grande', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  /* max-width: 480px; */
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-18:hover,
.button-18:focus {
  background-color: #334254;
  color: #ffffff;
}

.button-18:active {
  background: #09223b;
  color: rgb(255, 255, 255, 0.7);
}

.button-18:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.3);
}

.text-effect {
  overflow: hidden;
  position: relative;
  filter: contrast(110%) brightness(190%);
  height: 50vh;
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  width: 30vw;
  background: #8b4513;
  border-radius: 50%;

  /* box-sizing: border-box; */
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: 900;
  font-style: normal;
  font-size: 50px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

.middle {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.bar {
  width: 10px;
  height: 70px;
  background: #fff;
  display: inline-block;
  transform-origin: bottom center;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  /*   box-shadow:5px 10px 20px inset rgba(255,23,25.2); */
  animation: loader 1.2s linear infinite;
}
.bar1 {
  animation-delay: 0.1s;
}
.bar2 {
  animation-delay: 0.2s;
}
.bar3 {
  animation-delay: 0.3s;
}
.bar4 {
  animation-delay: 0.4s;
}
.bar5 {
  animation-delay: 0.5s;
}
.bar6 {
  animation-delay: 0.6s;
}
.bar7 {
  animation-delay: 0.7s;
}
.bar8 {
  animation-delay: 0.8s;
}

@keyframes loader {
  0% {
    transform: scaleY(0.1);
  }
  50% {
    transform: scaleY(1);
    background: yellowgreen;
  }
  100% {
    transform: scaleY(0.1);
    background: transparent;
  }
}
