.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.author {
  font-size: calc(10px + 2vmin);
}

#content {
  display: inline-block;
  font-size: calc(2px + 2vmi);
  justify-content: center;
  width: 50vw;
}

button {
  background: inherit;
  border: none;
  font-size: 20px;
  color: white;

}
